body{
    background-image: url("desenho-animado-chuva-de-dinheiro-padrao-sem-emenda-notas-de-papel-verde-e-moedas-de-ouro-voando-no-ar_221062-40.jpg");
}

h1{
    background-color: antiquewhite;
    margin:auto;
    text-align: center;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}